﻿@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Externally Logging In</title>

    <style>
        body {
            background-color: #122341;
        }
        .loading {
            width: 124px;
            height: 128px;
            background: url('https://projectneptune.blob.core.windows.net/dts-images/UI/pc/loading.png');
            animation: play .8s steps(20) infinite;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
        @@keyframes play {
            100% { background-position: -2480px; }
        }
    </style>
   
</head>
<body>
    <div class="loading"></div>
    <script type="text/javascript">

        window.location.href = '@Html.Raw(@Model.ToString())';
        
    </script>
</body>
</html>
